.header {
  background: darkblue;
  color: $wheat;
  margin-bottom: $spacing_xxl;
  padding: $spacing_l 0;
}

.header__title {
  font-size: $spacing_xl;
  margin: 0;
}

.header__subtitle {
  color: $wheat;
  font-size: $spacing_l;
  font-weight: 500;
  margin: 0;
}
